# Core Dependencies
torch==2.1.0
torchvision==0.16.0
numpy==1.26.4
opencv-python==4.11.0.86
scipy==1.11.3
matplotlib==3.10.1
tqdm==4.67.1

# 3D and Rendering
smplx==0.2.0
trimesh==4.2.0
pyrender==0.1.45
open3d==0.19.0

# Fixes and Compatibility
chumpy==0.70
pickle-mixin==1.0.2
pyrender==0.1.45
matplotlib==3.8.3
pickle-mixin==1.0.2
tqdm==4.66.1
